/* CSS code to style your page */
		.center {
        display: flex;
        justify-content: center;
        align-items: center;
    	}

		.right {
        display: flex;
        justify-content: right;
        align-items: right;
		}

	    .left {
        display: flex;
        justify-content: left;
        align-items: left;
		}

		body {
			font-family: Arial, sans-serif;
			background-color: #f1f1f1;
			margin: 0;
			padding: 0;
		}

		header {
			background-color: #333;
			color: #fff;
			padding: 20px;
			text-align: center;
		}

		h1 {
			font-size: 36px;
			margin: 0;
		}
		h2 {
			font-size: 30px;
			margin: 0;
		}
		h3 {
			font-size: 20px;
			margin: 0;
		}
		main {
			margin: 20px;
			padding: 20px;
			background-color: #fff;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
			border-radius: 10px;
		}

		p {
			font-size: 18px;
			line-height: 1.5;
		}

		img {
			max-width : 80%
			height : auto;
			float : left;  /*이미지간 공백 없앰*/
        	margin : 1.68%;
		}
		
		a:link {
			color : rgb(170, 156, 159);
			}
		a:visited {
			color : rgb(22, 141, 221);
			}
		a:hover {
			color : red;
			}
		a:active {
			color : rgb(151, 185, 151)
			}         
		
		
		/* Media query for small devices */
		@media only screen and (max-width: 600px) {
			header {
				padding: 10px;
			}

			h1 {
				font-size: 24px;
			}
			h2 {
				font-size: 22px;
			}
			h3 {
				font-size: 18px;
			}

			main {
				margin: 10px;
				padding: 10px;
			}

			p {
				font-size: 16px;
				line-height: 1.3;
			}
			
			div {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			
			a > img {
				height: 80%;
				width: 60%;
			}
			
			h3 {
				margin-top: 10px;
			}
			
			ul {
				margin-top: 0;
			}
			
			a > img {
				margin-top: 10px;
                
			}
			
			ul > li {
				margin-bottom: 10px;
			}
		
            
            
		footer {
			padding: 10px;
			font-size: 14px;
			text-align: center;
			color: #333;
		}
		